# Theme
theme = Kanagawa Wave

# Updates
auto-update-channel = tip

# Shell
shell-integration = fish
quit-after-last-window-closed = true

# Font Family
font-family = "Maple Mono NF"
adjust-underline-position = 2
adjust-underline-thickness = 100%

# Font size
font-size = 16

font-feature = -calt

# Opacity
unfocused-split-opacity = 0.97
background-opacity = 1.0

# Multiplexer handling
link-url = true
mouse-shift-capture = never

# Clipboard
clipboard-write = allow
clipboard-read = allow

# Macos
macos-option-as-alt = true
macos-titlebar-proxy-icon = hidden
macos-titlebar-style = hidden
macos-window-buttons = hidden
macos-window-shadow = true
quit-after-last-window-closed = true

window-decoration = auto
window-padding-y = 10
window-padding-x = 10
window-padding-balance = true
window-padding-color = background
window-colorspace = display-p3

font-thicken = true

mouse-scroll-multiplier = 0.4

keybind = global:ctrl+space=toggle_quick_terminal
quick-terminal-position = center
quick-terminal-screen = mouse
quick-terminal-size = 50%,50%
